<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Hola Mundo con HTML</h1>
    <h2>Hola Mundo con HTML</h2>
    <h3>Hola Mundo con HTML</h3>
    <h4>Hola Mundo con HTML</h4>
    <br>
    <h3>Eutiquetas de parrafo y contenedores</h3>

<h1>Estrucutrando un documento</h1>
<p>H1-H6 Hasta seis niveles de titulos</p>
<p>DIV permite dividir contenido en bloques</p>
<p>P para mostrar texto plano</p>

<span>Para textos cortos</span><br>
    <h3>Etiquetas para hipervinculos</h3>
<a href="www.org.com.co">Pagina</a><br>

<h3>Etiqueta y elementos de formulario</h3>
<form>
    <input placeholder="Registrar" type="text">
    <label>Registre Numero de cedula</label> <input type="number"> <br>

    <label>Selecciione fecha y tiempo</label> <input type="datetime-local"> <br>
    <label>Selecciione edad</label> <input type="radio" id="m18" value="Menor de 18" name="edad">Menor de edad <input type="radio" id="ma18" value="Mayor de 18" name="edad"> Mayor de edad <br>
    <label>Seleccione Opcion A</label> <input type="checkbox" id="chk1" value="Check1" name="letra"/>
    <label>Seleccione Opcion B</label> <input type="checkbox" id="chk2" value="Check1" name="letra">
    <label>Seleccione Opcion C</label> <input type="checkbox" id="chk3" value="Check2" name="letra"><br>

    <textarea rows="20" cols="100" name="txt">Descripción del producto</textarea><br>

    <input type="checkbox" name="days" value="mon">Monday<br>



</form>


</body>
</html>